* {
  --main-bg-color: #fff;
  --header-text-color: #172b4d;
  --normal-text-color: #344563;
  --secondary-text-color: #6070ff;
  --light-text-color: #7f8cff;
  --main-font-family: 'Poppins', sans-serif;
  --black-color: #000;
  --background-active-button: #2230d2;
  --button-disabled-text-color: #5e6c84;
  --gray-background-color: #e5e5e5;
  --gray--light-color: #f7f7f9;
  --tag-background-color: #ebebff;
  --button-color: #396df2;
  --tag-color: #7a869a;
  --footer-background: #6070ff;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul[role='list'],
ol[role='list'],
li {
  list-style: none;
}

/* ------------------------------------HEADER SECTION-------------------------------------------------- */
header {
  background-image: url("Images/header-background-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  height: 44px;
  min-width: 375px;
  align-items: center;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu-container {
  position: relative;
  right: 20px;
  top: 10px;
  width: 18px;
}

.logo {
  font-family: var(--main-font-family);
  color: var(--secondary-text-color);
  height: 20px;
  width: 76px;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  margin-left: 12px;
  margin-top: 10px;
}

a {
  text-decoration: none;
}

.menu-container a {
  width: 18px;
  height: 12px;
  margin-right: 12px;
  margin-top: 3px;
}

/* ----------------------------------------------------HEADLINE SECTION----------------------------------------- */
.headline-section {
  background-image: url(Images/header-shapes-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 604px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  gap: 12px;
}

.primary-text-first {
  width: 327px;
  height: 150px;
}

.primary-text-first h1 {
  height: 150px;
  font-family: var(--main-font-family);
  color: var(--header-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.primary-text-first p {
  width: 327px;
  height: 146px;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 24px;
  color: var(--normal-text-color);
  position: relative;
  top: 10px;
}

.supportive-text {
  flex-direction: row;
  color: #6070ff;
  width: 130px;
  height: 24px;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  top: 12px;
}

.social-media-icons {
  width: 170.17px;
  height: 20px;
  position: relative;
  top: 25px;
}

ul {
  width: 170.7px;
  list-style-type: none;
  display: flex;
  position: relative;
  top: 25px;
  justify-content: space-between;
  align-items: center;
}

/* -----------------------------------------------WORKS SECTION----------------------------------------------------------------------------- */
.works-container {
  min-width: 375px;
  height: 100%;
  background-color: var(--gray-background-color);
  padding: 16px;
  gap: 80px;
  display: grid;
  grid-template-columns: 80px;
  column-gap: 150px;
}

.card-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 550px;
  background-color: var(--main-bg-color);
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.card-works > img {
  width: 295px;
  height: 220px;
  border-radius: 8px;
}

.primary-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 295px;
  height: 80px;
}

.primary-text h3 {
  width: 295px;
  height: 36px;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: var(--header-text-color);
}

.description-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 10px;
  width: 295px;
  height: 32px;
}

.description-tags .first-tag {
  font-family: var(--main-font-family);
  line-height: 16px;
  font-weight: 700;
  font-style: normal;
  color: var(--header-text-color);
  font-size: 13px;
}

.description-tags .second-tag,
.description-tags .third-tag {
  color: var(--tag-color);
  font-size: 13px;
  font-style: normal;
}

.counter {
  position: relative;
  left: 2px;
}

.details {
  width: 295px;
  height: 76px;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: var(--header-text-color);
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  margin: 10px;
  position: relative;
  top: -25px;
  right: 20px;
}

.tags a {
  text-decoration: none;
  font-family: var(--main-font-family);
  background-color: var(--tag-background-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
  border-radius: 5px;
  justify-content: center;
}

.tags ul {
  display: flex;
  font-family: var(--main-font-family);
  font-style: normal;
  gap: 10px;
  align-items: center;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  list-style: none;
}

.tags li {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  background-color: var(--tag-background-color);
  border-radius: 8px;
}

.button-action {
  width: 295px;
  height: 72px;
  position: relative;
  top: 10px;
}

.button-action button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  left: 0;
  top: calc(50% - 48px / 2);
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: var(--main-bg-color);
  color: var(--button-color);
}

.primary-text-secondary h3 {
  width: 295px;
  height: 80px;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: var(--header-text-color);
}

/* ------------------------------------------------------------ABOUT MY SELF SECTION--------------------------------------------- */
.about-my-self {
  display: flex;
  width: 375px;
  height: 1263px;
  background-image: url(Images/about-my-self-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
}

.primary-text-second {
  width: 327px;
  height: 101px;
}

.primary-text-second h1 {
  font-family: var(--main-font-family);
  color: var(--header-text-color);
  font-size: 40px;
  line-height: 52px;
  width: 327px;
  height: 101px;
  font-style: normal;
  font-weight: 700;
  display: flex;
  align-items: center;
  letter-spacing: 0.03rem;
}

.primary-text-second p {
  width: 327px;
  height: 144px;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--normal-text-color);
  position: relative;
  top: 10px;
}

.button-action-second {
  width: 162px;
  height: 148px;
  position: relative;
  top: 40px;
}

.button-action-second button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 10px;
  width: 162px;
  height: 48px;
  left: 0;
  font-weight: 500;
  font-size: 17px;
  top: calc(50% - 48px / 2);
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: var(--main-bg-color);
  color: var(--button-color);
}

/* ----------------------------------------------------------------------SKILLS SECTION ----------------------------------------------------------------  */
.skill-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 327px;
}

.skill-section-header {
  width: 327px;
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 12px;
}

.skill-section li h4 {
  color: var(--black-color);
  height: 24px;
  width: 12px;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.skill-section li a {
  text-decoration: none;
}

.language-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 8px;
  margin-top: -20px;
  gap: 12px;
  width: 327px;
  height: 248.15px;
}

.js,
.html,
.css {
  width: 303px;
  height: 66.72px;
  border-radius: 8px;
  background-color: var(--gray--light-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.js img,
.html img,
.css img {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 10px;
  top: calc(50% - 48px / 2 - 0.36px);
}

.js h5,
.html h5,
.css h5 {
  position: absolute;
  height: 24px;
  left: 76px;
  right: 12px;
  top: calc(50% - 24px / 2 - 0.36px);
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.others {
  width: 327px;
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 12px;
}

.others li h6 {
  color: var(--black-color);
  height: 24px;
  width: 12px;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.others li a {
  text-decoration: none;
}

.frameworks {
  position: relative;
  top: 46px;
}

.frameworks img,
.final-skills img {
  position: relative;
  left: 130px;
  top: 5px;
}

.separator-first {
  position: relative;
  top: 20px;
}

/* ------------------------------------------------------------HOVER-ACTIVE -DISABLED BUTTONS--------------------------------------------------------- */
button:active {
  background: var(--background-active-button);
  font-family: var(--main-font-family);
  color: var(--main-bg-color);
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

button:hover {
  background: var(--secondary-text-color);
  font-family: var(--main-font-family);
  color: var(--main-bg-color);
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

button:disabled {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: var(--button-disabled-text-color);
}

.button-action-second button:hover {
  background: var(--secondary-text-color);
  font-family: var(--main-font-family);
  color: var(--main-bg-color);
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.button-action-second button:active {
  background: var(--background-active-button);
  font-family: var(--main-font-family);
  color: var(--main-bg-color);
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.button-action-second button:disabled {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: var(--button-disabled-text-color);
}

/* ----------------------------------------------------------FOOTER CONTACT FORM----------------------------------------------- */
.contact-form {
  display: flex;
  justify-content: center;
  width: 375px;
  height: 779px;
  background-image: url(Images/shapes-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--footer-background);
  border-radius: 70px 0 10px;
}

.contact-global-container {
  display: flexbox;
  justify-content: center;
  align-items: center;
  width: 801px;
  height: 56px;
  font-family: var(--main-font-family);
  color: var(--main-bg-color);
  padding-top: 35%;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 52px;
}

.contact-text-container {
  margin-left: 100px;
}

.contact-paragraph {
  width: 327px;
  height: 102px;
  color: var(--tag-background-color);
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-left: 30px;
  text-align: center;
  padding-top: 4%;
}
